<nav class="nav">
  <a href="/" class="nav__logo">frionode<span class="blink">_</span></a>
  <ul class="nav__links">
    <li><a href="/">home</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/about">about</a></li>
    <li>
      <a href="https://github.com/frionode" target="_blank" rel="noopener">
        github ↗
      </a>
    </li>
  </ul>
  <button class="nav__burger" id="burger" aria-label="toggle menu">
    <span></span><span></span><span></span>
  </button>
</nav>

<div class="nav__mobile" id="mobileMenu">
  <ul>
    <li><a href="/">home</a></li>
    <li><a href="/blog">blog</a></li>
    <li><a href="/about">about</a></li>
    <li><a href="https://github.com/frionode" target="_blank">github ↗</a></li>
  </ul>
</div>
